<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minenick.sumupproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SumUpProject">
        <activity
            android:name=".model.AddStreamActivity"
            android:exported="false" />
        <activity
            android:name=".model.StreamActivity"
            android:exported="false" />
        <activity
            android:name=".model.RegisterCardActivity"
            android:exported="false" />
        <activity android:name=".model.CardsActivity" />
        <activity android:name=".model.RegisterActivity" />
        <activity android:name=".model.AuthActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>